<!-- templates/whatsthedeal_app/feed.html -->
{% extends "base.html" %}

{% block title %}Feed{% endblock %}

{% block content %}
  <div class="feed-container container">
    <div class="feed-top">
      <form class="filter" method="get">
          <label for="filter">Filter by:</label>
          <select name="filter" id="filter">
              <option value="newest" {% if filter == 'newest' %}selected{% endif %}>Newest</option>
              <option value="most-likes" {% if filter == 'most-likes' %}selected{% endif %}>Most Likes</option>
              <option value="most-dislikes" {% if filter == 'most-dislikes' %}selected{% endif %}>Most Dislikes</option>
          </select>
          <button class="btn btn-cream" type="submit">Filter</button>
      </form>
      <div class="share">
        <a class="btn btn-primary" href="{% url 'whatsthedeal:post-create' %}">Share your meal deal</a>
      </div>
    </div>

    <div class="feed-grid">
    {% for p in feed %}
      {% include 'whatsthedeal_app/partials/post.html' with post=p %}
    {% empty %}
      <p>No posts yet.</p>
    {% endfor %}
    </div>
  </div>
{% endblock %}
