<!-- templates/whatsthedeal_app/view.html -->
{% extends "base.html" %}

{% block title %}View Post{% endblock %}

{% block content %}
    <div class="container" style="max-width:760px; margin:1.25rem auto">
        {% include 'whatsthedeal_app/partials/post_view.html' with post=post %}
        <div style="gap:0.5rem; padding-top:1%;">
            <h3>Share your thoughts</h3>
            <div class="form-card">
                <form method="post">
                    {% csrf_token %} 
                    <div class="form-row">
                        {{ form.comment.label_tag }}
                        {{ form.comment }}
                    </div>

                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit">Comment</button>
                    </div>
                </form>
            </div>
            <h3>What others think</h3>
            <div class="feed-grid" style="padding-top:2%;">
                {% for c in comments %}
                    <div class="comment-card">
                        <p><b>{{ c.user }}</b> says:</p>
                        <p>{{ c.content }}</p>
                        <p class="small">{{ c.created_at }}</p>
                    </div>
                {% empty %}
                    <p>No comments yet.</p>
                {% endfor %}
            </div>
        </div>
        <br>
        {% include 'whatsthedeal_app/partials/back_button.html' %}
    </div>
{% endblock %}